security:

    encoders:
        App\Entity\User:
            algorithm: auto

    providers:
        db_users:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        api_login:
            pattern: ^/api/users/login
            stateless: true
            anonymous: true
            json_login:
                check_path: api_users_login
                username_path: user.email
                password_path: user.password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        api:
            pattern: ^/api
            stateless: true
            anonymous: true
            guard:
                authenticators:
                    - App\Security\Guard\JWTAuthenticator
