includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
  - vendor/slam/phpstan-extensions/conf/slam-rules.neon

parameters:
  level: 8
  paths:
    - src
    - tests
  excludes_analyse:
    - '%rootDir%/../../../src/Kernel.php'
  symfony:
    container_xml_path: '%currentWorkingDirectory%/var/cache/dev/srcApp_KernelDevDebugContainer.xml'
  ignoreErrors:
      - '/Parameter #6 $content of method Symfony\Component\BrowserKit\Client::request() expects string|null, string|false given\./'
      - '/Parameter #2 $plainPassword of method Symfony\Component\Security\Core\Encoder\\UserPasswordEncoderInterface::encodePassword() expects string, string|null given\./'
      - '/Call to method getStatusCode\(\) on an unknown class Symfony\\Component\\HttpKernel\\Response\./'
      - '/Call to method getContent\(\) on an unknown class Symfony\\Component\\HttpKernel\\Response\./'
      - '/Cannot call method getId() on App\Entity\User|null\./'
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
